{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OMOA - Ranking</title>
    <link href="{% static 'css/style2.css' %}" rel="stylesheet" />
</head>

<body>
    <!-- Table Product --> <!-- .table.table-hover 에서 hover 시 색 지정 가능 -->
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="{% url 'review:review_list' %}">OMOA-Review</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    {% if user.id %}
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'user:mypage' user.id %}">My Page</a></li>
                    {% endif %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'ranking:ranking' %}">Ranking</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">OTT</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'post:ott_view' ott='Netflix' %}">Netflix</a></li>
                                <li><a class="dropdown-item" href="{% url 'post:ott_view' ott='Amazon' %}">Amazon</a></li>
                                <li><a class="dropdown-item" href="{% url 'post:ott_view' ott='Disney' %}">Disney</a></li>
                                <li><a class="dropdown-item" href="{% url 'post:ott_view' ott='wavve' %}">wavve</a></li>
                            </ul>
                    </li>
                </ul>
                {% if user.id %}
                <form class="d-flex">
                    <a href="{% url 'user:logout' %}">Logout</a>
                </form>
                {% else %}
                <form class="d-flex">
                    <a href="{% url 'user:login' %}">Sign In</a>
                </form>
                {% endif %}
            </div>
        </div>
    </nav>
    <!-- Table Product -->
    <div class="row">
        <div class="col-12">
            <div class="card card-default">
                <div class="card-header">
                    <h2>Neflix Movie Top N</h2>
                    <div class="dropdown">
                        <!-- <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false"> Yearly Chart
                        </a> -->
                    </div>
                </div>
                <div class="card-body">
                    <table id="productsTable" class="table table-hover table-product" style="width:100%">
                        <tbody>
                            {% for nrank in netflix_movieranks %}
                            <tr>
                                <td style="width:5%; vertical-align: middle; text-align: center;">{{ nrank.content_rank }}</td>
                                <td class="py-0" style="width:10%">
                                    <img src="{{ nrank.content_img }}" alt="">
                                </td>
                                <td style="vertical-align: middle;">{{ nrank.content_name }}</td>
                                <td style="width:5%; vertical-align: middle; text-align: center;">{{ nrank.content_period }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="card-header">
                    <h2>Neflix Tv Top N</h2>
                    <div class="dropdown">
                    </div>
                </div>
                <div class="card-body">
                    <table id="productsTable" class="table table-hover table-product" style="width:100%">
                        <tbody>
                            {% for nrank in netflix_tvranks %}
                            <tr>
                                <td style="width:5%; vertical-align: middle; text-align: center;">{{ nrank.content_rank }}</td>
                                <td class="py-0" style="width:10%">
                                    <img src="{{ nrank.content_img }}" alt="">
                                </td>
                                <td style="vertical-align: middle;">{{ nrank.content_name }}</td>
                                <td style="width:5%; vertical-align: middle; text-align: center;">{{ nrank.content_period }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="card card-default">
                <div class="card-header">
                    <h2>Amazon Movie Top N</h2>
                    <div class="dropdown">
                    </div>
                </div>
                <div class="card-body">
                    <table id="productsTable" class="table table-hover table-product" style="width:100%">
                        <tbody>
                            {% for arank in amazon_movieranks %}
                            <tr>
                                <td style="width:5%; vertical-align: middle; text-align: center;">{{ arank.content_rank }}</td>
                                <td class="py-0" style="width:10%">
                                    <img src="{{ arank.content_img }}" alt="">
                                </td>
                                <td style="vertical-align: center;">{{ arank.content_name }}</td>
                                <td style="width:5%; vertical-align: middle; text-align: center;">{{ arank.content_period }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="card-header">
                    <h2>Amazon Tv Top N</h2>
                    <div class="dropdown">
                    </div>
                </div>
                <div class="card-body">
                    <table id="productsTable" class="table table-hover table-product" style="width:100%">
                        <tbody>
                            {% for arank in amazon_tvranks %}
                            <tr>
                                <td style="width:5%; vertical-align: middle; text-align: center;">{{ arank.content_rank }}</td>
                                <td class="py-0" style="width:10%">
                                    <img src="{{ arank.content_img }}" alt="">
                                </td>
                                <td style="vertical-align: middle;">{{ arank.content_name }}</td>
                                <td style="width:5%; vertical-align: middle; text-align: center;">{{ arank.content_period }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="card card-default">
                <div class="card-header">
                    <h2>Disney Top N</h2>
                    <div class="dropdown">
                    </div>
                </div>
                <div class="card-body">
                    <table id="productsTable" class="table table-hover table-product" style="width:100%">
                        <tbody>
                            {% for drank in disney_ranks %}
                            <tr>
                                <td style="width:5%; vertical-align: middle; text-align: center;">{{ drank.content_rank }}</td>
                                <td class="py-0" style="width:10%">
                                    <img src="{{ drank.content_img }}" alt="">
                                </td>
                                <td style="vertical-align: middle; font-size: 20px;">{{ drank.content_name }}</td>
                                <td style="width:5%; vertical-align: middle; text-align: center;">{{ drank.content_period }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="card card-default">
                <div class="card-header">
                    <h2>Wavve Movie Top N</h2>
                    <div class="dropdown">
                    </div>
                </div>
                <div class="card-body">
                    <table id="productsTable" class="table table-hover table-product" style="width:100%">
                        <tbody>
                            {% for wrank in wavve_movieranks %}
                            <tr>
                                <td style="width:5%; text-align: center; vertical-align: middle;">{{ wrank.content_rank }}</td>
                                <td class="py-0" style="width:10%">
                                    <img src="{{ wrank.content_img }}" alt="">
                                </td>
                                <td style="vertical-align: middle; font-size: 20px;">{{ wrank.content_name }}</td>
                                <td style="width:5%; text-align: center; vertical-align: middle;">{{ wrank.content_period }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-header">
                    <h2>Wavve Tv Top N</h2>
                    <div class="dropdown">
                    </div>
                </div>
                <div class="card-body">
                    <table id="productsTable" class="table table-hover table-product" style="width:100%">
                        <tbody>
                            {% for wrank in wavve_tvranks %}
                            <tr>
                                <td style="width:5%; text-align: center; vertical-align: middle;">{{ wrank.content_rank }}</td>
                                <td class="py-0" style="width:10%">
                                    <img src="{{ wrank.content_img }}" alt="">
                                </td>
                                <td style="vertical-align: middle; font-size: 20px;">{{ wrank.content_name }}</td>
                                <td style="width:5%; text-align: center; vertical-align: middle;">{{ wrank.content_period }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/listscripts.js"></script>

</html>