{% load static %}

<body>
    <li class="post">
        <img src="{{ post.post_image }}">
    </li>
    <li>
        <p>제목 : {{ post.content_name }}</p>
    </li>
    <li>
        <p>감독 : </p>
        {% for dir in post.content_dir %}
        <p>{{dir}}
        </p>
        {% endfor %}
    </li>
    <li>
        <p>장르: {{ post.content_genre }}</p>
    </li>
    <li>
        <p>개봉년도: {{ post.content_year }}</p>
    </li>
    <li>
        <p>OTT: {{ post.content_ott }}</p>
    </li>
    <li>
        <p>시놉시스: </p>
    </li>
</body>

</html>

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{{ post.content_name }}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
</head>

<body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'post:choice' %}">OMOA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="">찜목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user:mypage' id=user.id %}">My</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'review:review_list' %}">Review</a>
                    </li>
                    <li class="nav-item dropdown">
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                            <li><a class="dropdown-item" href="#"></a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-3"><img class="card-img-top mb-5 mb-md-0" src="{{ post.post_image }}"
                        alt="{{ post.content_name }}" /></div>
                <div class="col-md-9">
                    <!-- <div class="small mb-1">SKU: BST-498</div> -->
                    <h1 class="display-5 fw-bolder">{{ post.content_name }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="35" fill="currentColor"
                            class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                            <path
                                d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1" />
                        </svg>
                    </h1>
                    <div class="fs-5 mb-5">
                        <span>({{ post.content_year }})</span>
                    </div>
                    <p class="lead">{{ post.content_description }}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Related items section-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">Reviews<svg xmlns="http://www.w3.org/2000/svg" width="50" height="30"
                    fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                    <path
                        d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1" />
                </svg></h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

                {% for r in post.review_set.all %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ r.user }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ r.title }}</h6>
                        <p class="card-text"> {{ r.content }}</p>
                        <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a>

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; OMOA 2025</p>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
</body>

</html>