{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OMOA - MyPage</title>
    <link href="{% static 'css/profile_styles.css' %}" rel="stylesheet" />
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="{% url 'review:review_list' %}">OMOA-Review</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'user:mypage' user.id %}">My Page</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'ranking:ranking' %}">Ranking</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">OTT</a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <li><a class="dropdown-item" href="{% url 'post:ott_view' ott='Netflix' %}">Netflix</a></li>
                                  <li><a class="dropdown-item" href="{% url 'post:ott_view' ott='Amazon' %}">Amazon</a></li>
                                  <li><a class="dropdown-item" href="{% url 'post:ott_view' ott='Disney' %}">Disney</a></li>
                                  <li><a class="dropdown-item" href="{% url 'post:ott_view' ott='wavve' %}">wavve</a></li>
                              </ul>
                        </li>
                    </ul>
                    <form class="d-flex">
                      <a href="{% url 'user:logout' %}">Logout</a>
                    </form>
                </div>
            </div>
        </nav>
    <main class="flex-shrink-0">
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-5">
                <div class="row gx-5 align-items-center justify-content-center">
                    <div class="col-lg-8 col-xl-7 col-xxl-6">
                        <div class="my-5 text-center text-xl-start">
                            <h1 class="display-5 fw-bolder text-white mb-2">{{ user.username }}
                            </h1>
                            <p class="lead fw-normal text-white-50 mb-4">{{ user.short_description }}</p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                        {% if user.profile_image %}
                        <img src="{{ user.profile_image.url }}" width="300">
                        {% else %}
                        <img src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
                        {% endif %}
                    </div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-2 mb-5 mb-lg-0">
                        <h2 class="fw-bolder mb-0">{{ user.username }}의 찜한 컨텐츠, 총 {{ user.like_posts.all.count }}개</h2>
                    </div>
                    <div class="col-lg-10">
                        <div class="row gx-5 row-cols-1 row-cols-md-2">
                            {% for post in user.like_posts.all %}
                            <div class="col mb-5 h-100">

                                <a href="{% url 'post:post_detail' id=post.id %}">
                                    <img src="{{ post.post_image }}">
                                </a>
                                <h2 class="h5">{{ post.content_name }}</h2>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Reviews section-->
        <section class="py-5" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    <div class="col-lg-2 mb-5 mb-lg-0">
                        <h2 class="fw-bolder mb-0">{{ user.username }}님의 리뷰, 총 {{ user.review_set.all.count }}건</h2>
                    </div>
                    <div class="col-lg-10">
                        <div class="row gx-5 row-cols-1 row-cols-md-2">
                            {% for review in user.review_set.all %}
                            <div class="col mb-5 h-100">
                                <a href="{% url 'post:post_detail' id=review.post.id %}">
                                    <img src="{{ review.post.post_image }}">
                                </a>
                                <h2 class="h5">{{ review.post.content_name }}</h2>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog preview section-->
        <section class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 justify-content-center" style="margin-bottom : 25px">
                    <div class="col-lg-8 col-xl-6">
                        <div class="text-center">
                            <h2 class="fw-bolder">{{ user.username }}의 팔로우 목록, 총 {{ user.following.all.count }}명</h2>
                        </div>
                    </div>
                </div>
                <div class="row gx-5">
                    {% for f in user.following.all %}
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100 shadow border-0">
                            <img class="card-img-top" src="{{ f.profile_image.url }}" alt="..." />
                            <div class="card-body p-4">
                                <a class="text-decoration-none link-dark stretched-link"
                                    href="{% url 'user:mypage' id=f.id %}">
                                    <h5 class="card-title mb-3">{{ f.username }}</h5>
                                </a>
                                <p class="card-text mb-0">Some quick example text to build on the card title and make up
                                    the bulk of the card's content.</p>
                            </div>
                            <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                                <div class="d-flex align-items-end justify-content-between">
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <!-- Call to action-->
            </div>
        </section>
    </main>
    <!-- Footer-->
    <footer class="bg-dark py-4 mt-auto">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                <div class="col-auto">
                    <div class="small m-0 text-white">Copyright &copy; Your Website 2023</div>
                </div>
                <div class="col-auto">
                    <a class="link-light small" href="#!">Privacy</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Terms</a>
                    <span class="text-white mx-1">&middot;</span>
                    <a class="link-light small" href="#!">Contact</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="{% static 'js/profile_scripts.js' %}"></script>
</body>