{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
    <title>OMOA-SignIn</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="{% static 'css/login.css' %}" rel="stylesheet" />
    <script src="{% static 'js/login.js' %}"></script>
    <style>
    </style>
</head>

<body>
    <!-- LOGIN MODULE -->
    <div class="login">
        <div class="wrap">
            <div class="content">
                <!-- LOGO -->
                <div class="logo">
                    <img src="http://res.cloudinary.com/dpcloudinary/image/upload/v1506186248/logo.png" alt="">
                </div>
                <div id="slideshow">
                    <div class="one">
                        <h2><span>OMOA</span></h2>
                        <p>모든 컨텐츠를 한 곳에 모아</p>
                    </div>
                </div>
            </div>
            <!-- LOGIN FORM -->
            <div class="user">
                <div class="form-wrap" style="margin-top:20px;">
                    <!-- TABS -->
                    <!-- TABS CONTENT -->
                    <div class="tabs-content">
                        <!-- TABS CONTENT SIGNUP -->
                        <div id="login-tab-content" class="active">
                            <form class="signup-form" action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form }}
                                <input type="submit" class="button" value="Sign Up">
                            </form>
                            <div class="help-action">
                                <p><a class="forgot" href="{% url 'user:login' %}">Log in</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>